$color_green: rgb(40, 167, 69);
$color_blue: rgb(2, 132, 208);
$dark_color: #333;
$color_grey: #c1c1c1;
$light_color: rgb(244,244,244);
$text_color: coral;

$font: "Open Sans", sans-serif;

$font_biggest: 56px;
$heading: 40px;
$subHeadings: 20px;

$top_padding: 80px;
$left_padding: 40px;